.swiper-slide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

* {
  outline: none;
  transition: 0.4s;
  scroll-behavior: smooth;
}

::selection {
  background: blue;
  color: rgb(0, 255, 21);
}

/* section title  */
/*
.text-blue-600{
  transition: 0.2s;
  background: -webkit-linear-gradient(30deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.text-blue-600:hover{
  font-weight: bold;
  background: -webkit-linear-gradient(30deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: mover 2s infinite;
  transform: scale(1);
  cursor: pointer;
}
@keyframes mover {
    0%{background: -webkit-linear-gradient(30deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s;
  transform: scale(1.1);

}
    10%{background: -webkit-linear-gradient(40deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    20%{background: -webkit-linear-gradient(50deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    30%{background: -webkit-linear-gradient(60deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    40%{background: -webkit-linear-gradient(70deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    50%{background: -webkit-linear-gradient(80deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    60%{background: -webkit-linear-gradient(90deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    70%{background: -webkit-linear-gradient(100deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    80%{background: -webkit-linear-gradient(110deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    90%{background: -webkit-linear-gradient(120eg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}
    100%{  background: -webkit-linear-gradient(30deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
  transform: scale(1.1);

}

}


.before\:bg-white::before{
background-image: -webkit-linear-gradient(10deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));
animation: line 2s infinite;
transition: 0.2s;
}

@keyframes line {
    0%{background-image: -webkit-linear-gradient(10deg, rgb(8, 8, 8) 10%, rgb(23, 84, 252));}
    10%{background-image: -webkit-linear-gradient(20deg, rgb(8, 8, 8) 20%, rgb(23, 84, 252));}
    20%{background-image: -webkit-linear-gradient(30deg, rgb(8, 8, 8) 30%, rgb(23, 84, 252));}
    30%{background-image: -webkit-linear-gradient(40deg, rgb(8, 8, 8) 40%, rgb(23, 84, 252));}
    40%{background-image: -webkit-linear-gradient(50deg, rgb(8, 8, 8) 50%, rgb(23, 84, 252));}
    50%{background-image: -webkit-linear-gradient(60deg, rgb(8, 8, 8) 40%, rgb(23, 84, 252));}
    60%{background-image: -webkit-linear-gradient(50deg, rgb(8, 8, 8) 30%, rgb(23, 84, 252));}
    70%{background-image: -webkit-linear-gradient(40deg, rgb(8, 8, 8) 20%, rgb(23, 84, 252));}
    80%{background-image: -webkit-linear-gradient(30deg, rgb(8, 8, 8) 10%, rgb(23, 84, 252));}
    90%{background-image: -webkit-linear-gradient(20deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));}
    100%{background-image: -webkit-linear-gradient(10deg, rgb(8, 8, 8) 0%, rgb(23, 84, 252));}
} */
.logo {
  position: relative;
  height: 12em;
  width: auto;
  z-index: -1;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1237dd;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #122eaa;
}
.change_color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #05c1ff;
  width: 41px;
  height: 21px;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.magia_logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
}

strong {
  font-weight: bold;
  color: #05c1ff;
}

.swiper-slide-active {
  opacity: 1;
  visibility: visible;
}

.swiper-slide.active + .swiper-slide {
  opacity: 1;
  visibility: visible;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 20px !important;
}

.menu-icon {
  flex-direction: column;
  width: 30px;
  height: 30px;
  gap: 7px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menu-icon span {
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.menu-icon span:nth-child(2) {
  left: -5px;
}

.menu-icon.active span:nth-child(2) {
  display: none;
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 7px;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

nav.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: #263238;
  top: 0;
  left: 0;
}

nav.active ul {
  flex-direction: column;
  gap: 20px;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card-img {
  background-image: url(../images/projects/1.png);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.project-card-img:hover {
  background-position: bottom;
}

.caption {
  position: absolute;
  background: #263238;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  padding: 10px 5px;
  border-radius: 25px 25px 0 0;
  text-align: center;
  z-index: 100;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: capitalize;
}

.project-card:hover .caption {
  bottom: -100px;
}

.details {
  background: rgb(0, 152, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 152, 255, 0.5131478616837359) 0%,
    rgba(27, 107, 241, 1) 100%
  );
  bottom: -200%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition-delay: 0.6s;
}

.project-card:hover .details {
  bottom: 0;
}

.details p {
  font-size: 12px;
}

.skills .w-full.md\:w-fit.flex.justify-center.items-center.gap-2.felx-wrap {
  flex-wrap: w;
}
