.swiper-slide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.swiper-slide-active {
    opacity: 1;
    visibility: visible;
}

.swiper-slide.active+.swiper-slide {
    opacity: 1;
    visibility: visible;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 20px !important;
}